<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Radar Leitos Covid-19</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="/css/main.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h2 class="form-heading">Hospitais</h2>
            <div class="container">
                <div class="row">
                    <span class="form-heading">Porcentagem de leitos ocupados por hospital em Porto Alegre</span>
                    <span class="form-heading">Lista de hospitais favoritados</span>
                </div>
                <div class="row">
                    <a href="list-hospitals">Voltar à lista completa</a>
                </div>
                <div class="row" th:each="hospital: *{hospitals}">
                    <span th:text="*{hospital.get_source().getNomeCnes()}"></span>
                </div>
            </div>
        </div>
    </body>
</html>
