<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Radar Leitos Covid-19</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="/css/main.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <h2 class="form-heading">Radar Leitos Covid-19</h2>
            </div>
            <div class="row">
                <span class="form-heading">Porcentagem de leitos ocupados por hospital em Porto Alegre</span>
            </div>
            <div class="row">
                <a href="list-favorites">Lista de hospitais favoritados</a>
            </div>
            <!--type="hidden"-->
            <span th:text="*{user.getEmail()}"></span>

            <div class="row" th:each="hospital: *{hospitals}">

                <form method="POST" th:action="@{/favorite-hospital}">
                    <button class="btn" type="submit">[favoritar]</button>
                    <label>
                        <input type="text" name="hospital" th:value="*{hospital.get_source().getNomeCnes()}"/>
                    </label>
                    <label>
                        <input type="text" name="score" th:value="${#numbers.formatDecimal(hospital.get_score(), 0, 'COMMA', 2, 'POINT')}"/>%
                    </label>
                </form>

            </div>

            <div class="row">
                <a href="/">Voltar à página inicial</a>
            </div>
        </div>
    </body>
</html>
